cards-vite/.gitignore
cards-vite/eslint.config.js
cards-vite/index.html
cards-vite/package-lock.json
cards-vite/package.json
cards-vite/README.md
cards-vite/vite.config.js
cards-vite/public/vite.svg
cards-vite/src/App.css
cards-vite/src/App.jsx
cards-vite/src/index.css
cards-vite/src/main.jsx
cards-vite/src/reportWebVitals.js
cards-vite/src/assets/react.svg
cards-vite/src/components/PackagePage.jsx
cards-vite/src/components/styling/GradientText.css
cards-vite/src/components/styling/GradientText.jsx
cards-vite/src/components/styling/Particles.css
cards-vite/src/components/styling/Particles.jsx
cards-vite/src/components/styling/ShinyText.css
cards-vite/src/components/styling/ShinyText.jsx
cards-vite/src/components/ui/color-mode.jsx
cards-vite/src/components/ui/provider.jsx
cards-vite/src/components/ui/toaster.jsx
cards-vite/src/components/ui/tooltip.jsx
business.pdf
